.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main1 {
  background-color: #f1f8e8;
  margin-top: 0px;
  padding: 0px;
}

.left-side {
  margin-top: 4vh;
  height: 90vh;
  width: 20vw;
  margin-left: 200px;
  padding: 20px;
  gap: 20px;
}
/* .left-side h3,p,h5{
    font-size: x-large;
    font-weight: bolder;
} */

.left-side h3,
h5 {
  font-size: xx-large;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}
.left-side p {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.login-btn1 {
  background-color: #55ad9b;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #f1f8e8;
  font-weight: bold;
  font-size: larger;
}
.login-btn {
  background-color: #55ad9b;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-left: 50px;
  color: #f1f8e8;
  font-weight: bold;
  font-size: larger;
}
.right-side {
  margin-top: -80px;
  margin-right: 350px;
}

.create-donation-form1 input,
.create-donation-form1 textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-donation-form1 input[type="number"],
.create-donation-form1 input[type="text"] {
  height: 40px;
}

.create-donation-form1 textarea {
  height: 100px;
}

.create-donation-form1 input::placeholder,
.create-donation-form1 textarea::placeholder {
  font-size: 16px;
  color: #999;
}
