.footer {
    background-color: #343a40;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none; /* Remove underline */
  }
  
  .footer a:hover {
    color: #ddd; /* Optional: Change color on hover */
    text-decoration: none; /* Ensure no underline on hover */
  }
  
  .footer ul {
    padding-left: 0;
    list-style: none;
  }
  
  .footer .fab {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  .footer .fab:hover {
    color: #ddd;
  }
  
  /* Ensure the last icon doesn't have extra margin */
  .footer ul li:last-child .fab {
    margin-right: 0;
  }