.create-donation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F1F8E8;
    margin-top: -200px;
   
  }
  
  .create-donation-form {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .create-donation-form h1 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
  }
  
  .create-donation-form input,
  .create-donation-form textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .create-donation-form textarea {
    resize: vertical;
    height: 100px;
  }
  
  .create-donation-form button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background: #55ad9b;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
   
  }
  
  .create-donation-form button:hover {
    background: #469f8b;
  }
  
  .response-message {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #333;
    text-align: center;
  }
  